body {
    background-color: #002c5c; /* Dark blue background */
    color: #ffffff; /* White text */
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2); /* White box shadow */
}

h2, p {
    text-align: center;
}

.form-group label {
    font-size: 18px;
}

.form-control {
    background-color: #0a1732; /* Dark blue input background */
    color: #ffffff; /* White text in inputs */
    border-color: #0a1732; /* Dark blue border */
}

.btn-primary {
    background-color: #ff5e00; /* Orange button */
    border-color: #ff5e00; /* Orange border */
}

.btn-primary:hover {
    background-color: #ff7f00; /* Darker orange on hover */
    border-color: #ff7f00;
}